 # Configuration MongoDB
MONGODB_USER     = 'user'
MONGODB_PWD      = 'password'
MONGODB_CLUSTER  = 'cluster url'
MONGODB_DATABASE = 'database name'

# Configuration OpenAI
OPENAI_API_KEY = 'clé api openai'

# Configuration Grok3
GROK_API_URL = 'https://api.grok.ai/v1'
GROK_API_KEY = 'votre_clé_api_grok'